<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <footer class="d-flex justify-content-center pt-2 text-white" style="background-color: #181818;" th:fragment="footer">
        <div class="m-3" align="center">
            <p>© 2021 Geroimzx</p>
            <a class="text-decoration-none" th:href="@{?lang=ru}">RU</a>
            <a class="text-decoration-none" th:href="@{?lang=uk}">UA</a>
            <a class="text-decoration-none" th:href="@{?lang=en}">EN</a>
        </div>
    </footer>
</html>