<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <div th:fragment="ad">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-198192479-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-198192479-1');
    </script>
    <!--google ad script disabled <script data-ad-client="ca-pub-1920529756828397" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
  </div>
</html>