<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel Parser</title>
    <script th:replace="~{fragments/head :: analytics-script}"></script>
    <script>
    function createTask() {

    }
    </script>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container-lg border border-1 clearfix pt-4 mx-auto">
    <button id="createBtn" class="btn btn-primary" onclick="createTask()" th:text="">Create task</button>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>